 html,body{
  background:#eee !important;
}

h2{
  text-align: center !important;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}


.butBox{
  display: flex;
  justify-content: center;
}

.btnARC{
  display: flex;
  justify-content: center;
}

.btnsAUTO{
  display: flex;
  justify-content: center;
}

.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  backdrop-filter: blur(10px);
  z-index:1;
  display:none;
}
  
.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:500px;
  height: 91px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}
  
.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 9px;
  top: 5px;
  width: 24px;
  height: 24px;
  background: #222;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  border-radius: 50%;
}
  
.popup.active .overlay {
  display:block;
}
  
.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
  border-radius: 1rem;
}

.textarea{
  width: 100%;
  border: none;
  background:#eee !important;
}
  

#navbarSupportedContent > ul{
  display: contents !important;
}

.boxNav{
  display: flex;
  justify-content: center;
  background-color: #f8f9fa!important;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}



@media screen and (max-width: 650px) {    
  .boxNav {
    display: block !important;
    }
}