{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} LES ARCHIVES {% endblock %}</h2>
    <div class = "btnARC">
    <form action="/randomPost" method="post">
        <button class="btn btn-outline-success" type="submit" name="randomPostTwitter" value="randomPost">RANDOM POST [TWITTER]</button>
        <button class="btn btn-outline-success" type="submit" name="randomPostTelegram" value="randomPost">RANDOM POST [TELEGRAM]</button>
    </form>
    
        <div class="popup" id="popup-1">
            <div class="overlay"></div>
            <div class="content">
              <div class="close-btn" onclick="togglePopup()">&times;</div>
              <h1></h1>
              <div class = "btnsAUTO">

              <form action="/autoPost" method="post">
                <button class="btn btn-outline-success" type="submit" value="autoPost">auto Post</button>
              </form>
        
            <form action="/autoPostStop" method="post">
                <button class="btn btn-outline-danger" type="submit" value="autoPostStop">auto Post Stop</button>
            </form>

                </div>
            </div>
          </div>
    

        <button class="btn btn-outline-success" onclick="togglePopup()">Auto Poster</button>

    </div>

   

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tweet</th>
                <th scope="col">update</th>
                <th scope="col">Characters</th>
                <th scope="col">Created</th>
                <th scope="col">Effacer</th>
                <th scope="col">Twitter</th>
                <th scope="col">Telegram</th>
                
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
                <tr>
                    <th id = "{{ url['id'] }}"scope="row">{{url['id'] }}</th>
                    
                    <form action="{{ url_for('update_archives') }}" method="post">
                        <td class = "textarea"><textarea  class = "textarea" name ="updateAR" value="">{{ url['tweetAR'] }}</textarea></td>
                        <input type="hidden" name="updateIdAR" value="{{ url['id'] }}">
                        <td><input type="submit" class="btn btn-outline-dark" value="update" /></td>
                    </form>
                    
                    <td>{{ url['charactersAR'] }}</td>
                    <td>{{ url['createdAR'] }}</td>

                    <form action="{{ url_for('delete_archives') }}" method="post">
                        <td><input type="hidden" name="ArchiveEentry_id" value="{{ url['id'] }}">
                            <input type="submit" class="btn btn-outline-danger" value="Delete" /></td>
                    </form>

                     <form action="{{ url_for('twitterArchive') }}" method="post">
                        <td><input type="hidden" name="entry_tweetAR" value="{{ url['tweetAR'] }}">
                            <input type="hidden" name="entry_charactersPostA" value="{{ url['charactersAR'] }}">
                            <input type="hidden" name="entry_idPostA" value="{{ url['id'] }}">
                            <input type="submit" class="btn btn-outline-info" value="Twitter" /></td>
                    </form>
                    
                    <form action="{{ url_for('telegramArchive') }}" method="post">
                        <td><input type="hidden" name="entry_TGAR" value="{{ url['tweetAR'] }}">
                            <input type="hidden" name="entry_charactersPostTG" value="{{ url['charactersAR'] }}">
                            <input type="hidden" name="entry_idPostTG" value="{{ url['id'] }}">
                            <input type="submit" class="btn btn-outline-info" value="Telegram" /></td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

