{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} LES POSTS {% endblock %}</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Post</th>
                <th scope="col">Characters</th>
                <th scope="col">Created</th>
                <th scope="col">sticker</th>
                <th scope="col">Effacer</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <th scope="row">{{ post['id'] }}</th>
                    <td>{{ post['post'] }}</td>
                    <td>{{ post['charactersPost'] }}</td>
                    <td>{{ post['createdPost'] }}</td>
                

                <form action="{{ url_for('createsStiker') }}" method="post">
                    <td><input type="hidden" name="entry_StikerID" value="{{ post['id'] }}">
                        <input type="hidden" name="entry_StikerPost" value="{{  post['post'] }}">
                        <input type="submit" class="btn btn-outline-info" value="create Stiker" /></td>
                </form>

                <form action="{{ url_for('delete_posts') }}" method="post">
                    <td><input type="hidden" name="deletePost_id" value="{{ post['id'] }}">
                        <input type="submit" class="btn btn-outline-danger" value="Delete" /></td>
                </form>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
