{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} LES TWEETS GENERATOR {% endblock %}</h2>

    <div class="butBox">
    
        <form action="/genTweets" method="post">
            <button class="btn btn-outline-success" type="submit" value="run">RUN</button>
        </form>
    
        <form action="/genTweetsSTOP" method="post">
            <button class="btn btn-outline-danger" type="submit" value="stop">STOP</button>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tweet</th>
                <th scope="col">Characters</th>
                <th scope="col">Created</th>
                <th scope="col">Effacer</th>
                <th scope="col">Archiver</th>
                <th scope="col">Twitter</th>
                <th scope="col">Telegram</th>
            </tr>
        </thead>
        <tbody>
            {% for tweet in tweets %}
                <tr>
                    <th scope="row">{{ tweet['id'] }}</th>
                    <td>{{ tweet['tweet'] }}</td>
                    <td>{{ tweet['characters'] }}</td>
                    <td>{{ tweet['created'] }}</td>
                    
                    <form action="{{ url_for('delete_tweets') }}" method="post">
                        <td><input type="hidden" name="entry_id" value="{{ tweet['id'] }}">
                            <input type="submit" class="btn btn-outline-danger" value="Delete" /></td>
                    </form>

                    <form action="{{ url_for('archive_tweets') }}" method="post">
                        <td><input type="hidden" name="entry_id" value="{{ tweet['id'] }}">
                            <input type="hidden" name="entry_tweet" value="{{ tweet['tweet'] }}">
                            <input type="hidden" name="entry_characters" value="{{ tweet['characters'] }}">
                            <input type="hidden" name="entry_created" value="{{ tweet['created'] }}">
                            <input type="submit" class="btn btn-outline-warning" value="archive" /></td>
                    </form>

                    <form action="{{ url_for('twitterTweets') }}" method="post">
                        <td><input type="hidden" name="entry_tweetT" value="{{ tweet['tweet'] }}">
                            <input type="hidden" name="entry_charactersPostT" value="{{ tweet['characters'] }}">
                            <input type="hidden" name="entry_idPostT" value="{{ tweet['id'] }}">
                            <input type="submit" class="btn btn-outline-info" value="Twitter" /></td>
                    </form>

                    <form action="{{ url_for('telegramTweets') }}" method="post">
                        <td><input type="hidden" name="entry_TGT" value="{{ tweet['tweet'] }}">
                            <input type="hidden" name="entry_charactersPostTGT" value="{{ tweet['characters'] }}">
                            <input type="hidden" name="entry_idPostTGT" value="{{ tweet['id'] }}">
                            <input type="submit" class="btn btn-outline-info" value="Telegram" /></td>
                    </form>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    


{% endblock %}

